streamlit==1.57.0
numpy==2.4.1
pandas==3.0.2
pillow==12.1.0
qrcode==8.2
setuptools==71.1.0
supabase==2.30.0
face_recognition_models==0.3.0
scikit-learn==1.8.0
scipy==1.17.0
soundfile==0.13.1
librosa==0.11.0
resemblyzer==0.1.4
torch==2.10.0
dlib==20.0.1
